body {
    align-items: stretch;
    background: #333;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

video {
    display: block;
    height: 100%;
    max-width: 100%;
}

.emojibox {
    align-items: center;
    display: flex;
    font-size: 22vh;
    justify-content: center;
    left: 0;
    line-height: .8;
    position: absolute;
    top: 0;
    z-index: 10;
}
